body{
	background-image: url("images/ljjord2008.jpg") repeat ; 
	background-size: auto;
}

h1{   
   color: white;
   background: black;
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 60px;
   letter-spacing: 20px;
   text-transform: uppercase;
   text-align: center;
   padding: 80px;
}

h2{   
   color: black;
   background: white;
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 60px;
   letter-spacing: 10px;
   text-align: center;
   padding: 10px;
}

h3{
	color: white;
	background: black;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 60px;
   letter-spacing: 20px;
   text-transform: uppercase;
   text-align: center;
   padding: 80px;
}

h4{
	color: black;
	background: white;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 60px;
   letter-spacing: 20px;
   text-transform: uppercase;
   text-align: center;
   padding: 10px;
}

h5{
	color: white;
	background: black;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 60px;
   letter-spacing: 20px;
   text-transform: uppercase;
   text-align: center;
   padding: 80px;
}

h6{
	color: black;
	background: white;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 60px;
   letter-spacing: 20px;
   text-transform: uppercase;
   text-align: center;

}







