body{
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
  	font-style: normal;
  	font-weight: 400;
	font-size: 20px;
	color: white;
}

a{color:black;}

h1{   
   color: white;
   background: black;
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 60px;
   letter-spacing: 20px;
   text-transform: uppercase;
   text-align: center;
   padding: 40px;
}

h2{   
   color: black;
   background: white;
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 40px;
   letter-spacing: 10px;

}
 ul{
   color: blue;
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 20px;
   font-variant: small-caps;
   padding: 10px;
   background: gray;
}

li {
	display: inline;
	padding: 0px 20px 0px 20px;
}

img {
    max-width:20%;
    height:auto;
    margin: 40px 0px 0px 0px;
    border: 5px solid black;
    border-radius: 20px
    background: black;
 }




