.wrapper {
	text-align: center;
}

body{
	padding-top: 50px;
}

header {
	background: SeaGreen;
	position: fixed;
	width: 100%;
	top: 0;
	height: 50px;
	transition: all 2s;
}

.header-offset{
	height: 25px;
	background: tomato;
}

img {
	width: 70%;
	display: block;
	margin: 30px auto 0;
}

