h1{
	font-family: arial, sans-serif;
	font-size: 62px;
	text-align: center;
	background-color: #424B54;
	color: #96D1E0;
	padding-bottom: 100px;
	padding-top: 100px;
	letter-spacing: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#navbar{
	list-style-type: none;
	display: inline;
	background-color: #EBF5EE;
	font-family: arial, sans-serif;
	text-transform: uppercase;
	width: 100%;
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: #424B54;
	padding: 12px 0 13px 0;
	margin: 0;
	display: inline-block;
}

.home{
	padding-left: 200px;
	padding-right: 200px;
}

.publications{
	padding-right: 10px;
}

.about{
	padding-left: 200px;
}

.pub1, .pub2{
	background-color: #82C09A;
	padding: 10px 10px;
	margin-top: 80px;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin-right: 200px;
	margin-left: 100px;
	font-family: arial, sans-serif;
	float: left;
	color: white;
	font-variant: bold;
	font-size: 60px;

}

