body {
    background: #ABEEFF;
    font-family: sans-serif;
}

h1{
	text-transform: uppercase;
}

p{
	font-size: 12px;
	font-style: italic;
	margin-right: 150px;
}

h2{
	font-size: 12px;
}

li{
	font-size: 12px;
}
