
body{
	/*height: 1000px;
	overflow: hidden;
*//*	margin-bottom: 20px;*/
}

h1{
	font-size: 120px;
	font-weight: 100;
	color: white;
	background-color: black;
	padding: 4%;
	margin-bottom: 0%;
	margin-top: 0%;
	font-family: 'Lato', sans-serif;
	opacity: .8;

}

.input-buttons{
	background-color: #D8DDDE;
	float: left;
	clear: left;
	width: 33%;
	height: 100%;
	display: inline-block;
	padding-top: 7%;
	padding-left: 7%;
	position: absolute;
}

#email, #password{
	border: 2px solid black;
	width: 36%;
	height: 4%;
}

#input-person, #input-place, #input-emotion{
	padding: 25px;
	border: 2px solid white;
	width: 62%;
	margin-top: 5%;
	height: 5%;
}

input{
	color: #435058;
	font-size: 10px;
}


.sidetext{
	width: 70%;
	float: right;
	text-align: right;
	margin-left: 50%;
}

h2{
	font-family: 'Karla', sans-serif;
	font-size: 70px;
	line-height: 1.1em;
	font-weight: 900;
	padding-left: 15%;
	padding-right: 10%;
	margin-right: 2%;
	margin-top: 5%;
    word-wrap: break-word;
    background-image: url('images/pic1.jpg');

}


}