/*// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;*/

body{
}

.wrapper{
	width: 90%;
	margin: 0% auto;
}

header{
	background-color: black;
	color: yellow;
	font-family: 'Merriweather', serif;
	border-bottom: 4px solid yellow;

}

h1{
	float: left;
/*	border: 2px solid white;*/
	padding-left: 2%;
	font-size: 25px;
}

nav{
	font-family: 'Source Sans Pro', sans-serif;
	float: right;
	padding-right: 16px;
}

.menu{
	text-align: right;
	list-style: none;
	padding: 0px;
/*	border: 2px solid white;*/
	}

.menu-li{
	display: inline-block;
/*	margin-right: 1%;*/
}	

.menu-link{
	color: white;
	text-decoration: none; 
}

.section-1{
	background-color: #ccc;
	color: black;
	padding: 3px 0px;
	text-align: center;
	font-style: italic;
	font-size: 12px;
	font-family: 'Merriweather', serif;
}

.taste{
	color: gray;
	text-decoration: line-through;
}

.are{
	border-bottom: 2px solid yellow;

}

.section-2{
	background-image: url("../img/coworking.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cube{
	height: 220px;
	width: 30%;
	background-color: rgba(238,238,238,.8);
	float: right;
	padding: 2%;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 2%;
	box-sizing: border-box;
	/*border: 2px solid black;*/
}

.box-header{
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 0px;
	margin-top: 0px;
}

.box-text{
	line-height: 1.5;
	font-size: 15px;
	padding: 1%;
	margin-bottom: 1%;
	margin-top: 0px;
}

.button-1{
	background-color: yellow;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 3%;
	display: block; 
	text-decoration: none;
	color: black;
	font-family: 'Oswald', sans-serif;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	box-sizing: border-box;
	
}

.section-3{
	background-color: rgb(238,238,238);
	padding: 20px 0px;
}

.col{
	float: left;
	height: 180px;
	width: 28%;
	padding: 15px;
}

.col:nth-of-type(2){
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc; 
}

.button-2{
	background-color: #C6C6C6;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 17px;
	padding-top: 8px;
	display: block; 
	text-decoration: none;
	color: black;
	font-family: 'Oswald', sans-serif;
	width: 80%;
	margin-left: 8px;
	margin-top: 15px;
	height: 35px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.col h4{
	font-size: 18px;
	font-family: 'Merriweather', serif;
	margin: 7px;
	margin-left: 13px;
}

.col p{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 5px 15px;
	line-height: 1.5;
	font-size: 16px;
}

.footer{
	background-color: black;
	color: white;
	height: 40px;
	margin: 0px;
	padding-top: 18px;
	padding-left: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 15px;
}


.clearfix:after{
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
   box-sizing: border-box;
}	

@media screen and (max-width: 1002px) {
		.cube{
	height: auto;
	width: 100%;
	background-color: rgba(238,238,238,.8);
	float: none;
	padding: 2% 25%;
	margin: 0%;
	/*border: 2px solid black;*/
}

	.button-1{
		width: 200px;
		margin: auto;
	}
}
		

@media screen and (max-width: 896px) {
	.menu-li{
		display: block;
	/*	width: 100px;*/
	}
}


@media screen and (max-width: 710px){
	.col {
		width: 100%;
		border-bottom: 1px;
	} 
}

@media screen and (max-width: 477px){
	.menu-li{
		text-align: center;
	}
	h1{
		text-align: center;
		float: none;
	}
	nav{
		float: none;
		padding: 0px;
	}
}








