.wrapper{
	width: 800px;
	opacity: .2;
/*	background-color: black;*/
}

header{
	height:200px;
	background-color: red;
	margin: 10px;
}

/*main{
	overflow: hidden;
}*/

.left{
	height:400px;
	background-color: green;
	width: 180px;
	float:left;
	margin: 10px;
}

.middle{
	height: 400px;
	width: 380px;
	background-color: gray;
	float: left;
	margin: 10px;
}

.right{
	height: 400px;
	background-color: blue;
	width: 180px;
	float:left;
	margin: 10px;
}

footer{
	height: 200px;
	background-color: orange;
	margin: 10px;
	/*clear: both;*/
}

.clearfix:after {
   content: ".";
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}